*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif;

}

/* Typography */

h1{
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 16px;

}
h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 32px;
}
p, 
li{
font-size: 1rem;
font-weight: 400;
}

header{
    padding: 72px 24px;
    text-align: center;

}
main{
 padding: 72px 24px;
 background-color: #F8FAFC ;
}

.faq-container{
    width: 640px;
    margin: 0 auto;
}

ol, ul{
    margin: 24px 0;
    padding-left: 16px;
}
li{
    line-height: 32px;
}

hr{
    margin: 40px 0;
}


/* ===========================
        Responsive Design
=============================== */



/* ---------------- Tablet (641px – 1024px) ---------------- */
@media (min-width: 641px) and (max-width: 1024px) {
  
  
}


/* ---------------- Mobile (≤640px) ---------------- */
@media (max-width: 640px) {
    
    header{
        padding: 72px 0;
    }
    main{
        padding: 72px 12px;
        

    }
    .faq-container{
        width: auto;
        padding: 0 24px;
    
}
}
